$header-bg-color:           #00bcd4;
$load-bg-color:             #eee;
$color-white:               #fff;
$color-gray-dark:           #565656;
$color-gray:                #ccc;
$color-gray-light:          #f4f4f4;
$color-gray-light-more:     #dcd5d5;
$color-dark:                #4a4a4a;
$color-orange:              #ff8300;

html {
    font-size: 50px;
}
body {
    width: 100%;
    height: 100%;
    font-size: .35rem;
    background-color: $color-gray-light;
}
